{% extends "app/basic_template.html" %}

{% block content %}
<p>RecycloBuddy reminds you it's recycling and trash day. Free. Simple as that.</p>
<p>Created by Gabriel Hummel and Harry Hummel, the project began as a public service when Gabriel was still a teenager.</p>
<p>RecycloBuddy is not associated with or endorsed by any federal, state or local government. It's offered "as is", without warranty or guarantee of accuracy.</p>
<br>
<p>Contact us <a href="mailto:recyclobuddy@recyclobuddy.com?Subject="Contact" target="_top">here</p>

{% endblock %}

