{% extends "app/basic_template.html" %}

{% block content %}
<p>Q:  What do you do?</p>
<p>A:  We send you an email or text when it's time to set out your recycling and trash.</p>
<p>Q:  Will you let me know when holidays change my days?
<p>A:  Yes.
<p>Q:  Does it cost anything?</p>
<p>A:  It's offered by us as a free, public service.  If you sign up for text alerts, normal charges from your carrier for text messages apply.</p>
<p>Q:  Are you connected to any government?</p>
<p>A:  No.</p>
<p>Q:  Will you do any creepy things with my data?</p>
<p>A:  No.</p>
<p>Q:  Do you accept ads?</p>
<p>A:  We acknowledge our sponsors in the alerts we send out.</p>
<p>Q:  Have you received venture funding valuing RecycloBuddy at several billion dollars?</p>
<p>A:  No.</p>
<p>Q:  What cities do you serve?</p>
<p>A:  We are starting in the Philadelphia area.  We'll go further if people like the service.</p>
<p>Q:  How many households use RecycloBuddy?</p>
<p>A:  About 700 as of early of 2018.</p>
<p>Q:  I live in an apartment building that uses a private service for trash and recycling.  Does RecycloBuddy work for me?</p>
<p>A:  No.  We only cover households that use municipal service.</p>
<p>Q:  I signed up, but haven't gotten alerts.  What's up with that?</p>
<p>A:  We send a confirmation email when you sign up.  Click on the link in that email.  Also, make sure you clicked on email alerts or sms (text) alerts on the sign up page.</p>
<p>Q:  How do I change my date, time or settings for alerts?</p>
<p>A:  Simply sign up again with the settings you want.  Use the same email and mobile number as you did previously.  RecycloBuddy will replace your current alert.</p>
<p>Q:  What do I do if the alerts tell me to put out the cans on the wrong day?</p>
<p>A:  Please <a href="mailto:recyclobuddy@recyclobuddy.com?Subject=Service%20Problem" target="_top">email</a> us and tell us your email, mobile number and what's wrong.  We'll fix it.</p>
<p>Q:  How do I cancel the service?</p>
<p>A:  Click <a href=cancel>here.</a></p>
{% endblock %}

