{% extends "app/basic_template.html" %}
{% load static %}
{% block content %}
<p>Reminds you it's recycling and trash day.  Free.  Simple as that.</p>
<p class="hidden"><img src="{% static "images/ajax-loader.gif" %}" class="img-responsive center-block"></p>
<p class="update">Find your next pickup day:</p>
<br>
<div class="unhidden">
<br>
<br>
<form method="post" action="">{% csrf_token %}
<table>
{{form}}
</table>
<br>
<input type="submit" value="Submit"/>
</form>
<br>
<br>
<br>
<br>
<br>
</div>
{% endblock %}

