{% extends "app/basic_template.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<p>Reminds you it's trash and recycling day.  Free.  Simple as that.</p>
<p class="hidden"><img src="{% static "images/ajax-loader.gif" %}" class="img-responsive center-block"></p>
<p class="update">Find your next pickup day:</p>
<br>
<div class="unhidden">
<form method="post" action="">
  {% csrf_token %}
  <div>
    {% for field in form %}
     <div>{{field.label_tag}}</div>
     <div>{{field}}</div>
    {% endfor %}
  </div>
<br>
<input type="submit" value="Submit"/>
</form>
<br>
<br>
<br>
<br>
<br>
</div>
{% endblock %}

