{% extends "app/basic_template.html" %}

{% block content %}

<p>You must understand and agree to the following TERMS OF USE to access our site and subscribe to our alerts:</p>

<ol>

<li>The service is free. If you sign up for text (sms) messages, normal text messaging charges from your carrier apply.</li>
<br>
<li>We are not affiliated with or endorsed by any federal, state or local government or agency.</li>
<br>
<li>Our Website and alerts are provided on an "as is" and “as available” basis, and users are fully and solely responsible for their use of the Website and alerts, and are solely responsible for any results or consequences of such use. We make no warranty or representation, express or implied, with respect to the quality, content, accuracy, completeness, currency, freedom from computer virus, or non-infringement of proprietary rights of the Website or alerts.</li>
<br>
<li>In no event shall we be liable for any direct, indirect, special, punitive, incidental, exemplary or consequential damages arising from your accessing or using the Website or alerts.</li>
<br>
<li>When you subscribe we ask for information such as your name, email address, mobile number, gender and ZIP code.  You are not anonymous to us.</li>
<br>
<li>We use information for the following general purposes: to customize our advertising and content, fulfill your requests for services, improve our services, contact you, conduct research, and provide anonymous reporting for internal and external clients.  We do not share your personal information with third parties.</li> 

</ol>

{% endblock %}
 
