{% extends "app/basic_template.html" %}

{% block content %}

<h3>Can we talk?</h3>
<h4>Sponsors for RecycloBuddy Alerts</h4>
<h5>8 December 2018</h5>
<h5>RecycloBuddy welcomes sponsors for alerts. Here's what we do and don't do:</h5>
<ul>
<li>We choose sponsors who offer excellent value, based on our personal experience or community recommendations</li>
<li>We never send standalone marketing solicitations on behalf of sponsors</li>
<li>We never share personal data with sponsors</li>
<li>Our alerts contain links like "w8d.io".  It's not spam</li>
</ul>   
{% endblock %}
