{% extends "app/basic_template.html" %}

{% block content %}
<hr>
<h3>Christmas trees</h3>
<h4>Details on pickups</h4>
<h5>12 January 2019</h5>
<h5>Lower Merion: Curbside pickup on trash day Jan 14-18. You can take it to the <a href="https://www.lowermerion.org/services/public-works-department/refuse-and-recycling/christmas-tree-collection">dump</a> after that. Try <a href="https://www.lowermerion.org/Home/Components/News/News/4783/1521">Curb My Clutter</a> to recycle electronics & clothes. Text "PICKUP" to 610-723-8177 and they'll come get it. How handy is that?</h5>
<h5>Philly: Tree recycling Jan 12 9am-3pm. Drop off locations <a href="https://www.philadelphiastreets.com/holiday/christmas-tree-recycling-program">here</a>. Trees left curbside disposed of as trash.</h5>

<hr>
<h3>Can we talk?</h3>
<h4>Sponsors for RecycloBuddy Alerts</h4>
<h5>8 December 2018</h5>
<h5>RecycloBuddy welcomes sponsors for alerts. Here's what we do and don't do:</h5>
<ul>
<li>We choose sponsors who offer excellent value, based on our personal experience or community recommendations</li>
<li>We never send standalone marketing solicitations on behalf of sponsors</li>
<li>We never share personal data with sponsors</li>
<li>Our alerts contain links like "w8d.io".  It's not spam</li>
</ul>
   
<hr>
<h3 id="friend">Share with friends</h3>
<h4 id="easy">Sharing RecycloBuddy is easy. Fill this in:</h4>
<form name="recommend" onsubmit="return false">
  Your name:<br>
  <input type="text" name="sender" placeholder="e.g. Bert" size=35><br><br>
  Your friend's name:<br>
  <input type="text" name="receiver" placeholder="e.g. Ernie" size=35><br><br>
  Their email:<br>
  <input type="text" name="email" placeholder="e.g. ernie@rubberduckie.com" size=35><br><br>
  <input type="submit" value="Share" onclick="sendMail()">
</form>

<script>
function sendMail() {
  var el = document.forms["recommend"].elements;
  var add = el[2].value;
  var send = el[0].value;
  var rec = el[1].value;
  var body = "Dear " + rec + ",\n\nI use RecycloBuddy and you might like it too! It alerts me by text & email when it's time to take out the cans.\n\nTo sign up, go to https://RecycloBuddy.com and fill in the forms.  It only takes a minute.\n\n" + send;
  var mailStr = "mailto:" + add + "?subject=" + encodeURIComponent('RecycloBuddy alerts') + "&cc=RecycloBuddy@RecycloBuddy.com" + "&body=" + encodeURIComponent(body);
  window.location.href = mailStr;
  document.getElementById('friend').textContent="Share with more friends";
  document.getElementById('easy').textContent="You should see email(s) ready to send";
}
</script>

{% endblock %}
